.header {
  width: 100%;
  background: #2b2b2b;
  color: white;

  &__nav {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    flex-direction: column;
    padding: 15px;

    &__select {
      border: none;
      background: #2b2b2b;
      color: white;
      padding: 15px;
      font-size: 18px;
      width: 20%;
      text-align: center;
      outline: none;
      transition: 0.5s;

      &:hover {
        outline: none;
        transition: 0.5s;
        background: aliceblue;
        color: black;
      }

    }

    & img {
      width: 3%;
    }
  }
}