.header {
  width: 100%;
  background: #2b2b2b;
  color: white;

  &_add {
    display: flex;
    gap: 15px;
    align-items: center;
    font-size: 24px;

    & input {
      padding: 8px;
      outline: none;
      border: none;
    }

    & button {
      background: #2b2b2b;
      border: none;
      outline: none;
      color: white;
      padding: 8px;
      font-size: 15px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    flex-direction: column;
    padding: 15px;


    &__select {
      border: none;
      background: #2b2b2b;
      color: white;
      padding: 15px;
      font-size: 18px;
      width: 10%;
      text-align: center;
      outline: none;
      transition: 0.5s;

      &:hover {
        outline: none;
        transition: 0.5s;
        background: aliceblue;
        color: black;
      }

    }

    & img {
      width: 3%;
    }
  }
}